@charset "utf-8";
/* CSS Document */

/* Header/Title */
#header_info {
	float: right;
	width: 220px;
	margin-left: 30px;
	font-size: 9pt;
}

#logintime {
        float: right;
        padding-top: 5px;
	display: block;
	color: #000;
	font-size: 9pt !important;
	text-align: left !important
}


#logintimelogged {
        float: right;
        padding-top: 5px;
	display: block;
	color: #000;
	font-size: 9pt !important;
	text-align: right !important
}



.message {
	float: right;
	width: 220px;
	margin-left: 30px;
	indent: none;
	font-size: 10pt;
	color: #f00;
	margin-top: 20px;
}


/* Welcome area */
#home_intro {
	float: left;
	width: 450px;
	padding: 0 40px 0 0;
}

#home_intro p.welcome {
	padding-top: 0; margin-top: 0;
	font-size: 1.2em;
}
#home_photo {
	float: right;
	width: 325px;
	padding-left: 30px;
}
#home_photo img {
	width: 325px;
	border: solid 1px #000;
}
#home_photo span {
	display: block;
	width: 100%;
	text-align: center;
	font-style: italic;
}
